body {
    background-color: Green;
    gradient: cent;
}

h {
    font-family: Arial;
    font-size: 200%;
}

p {
  background-color: black;
  align-text: center;
  font-family: "Times New Roman";
  font-size: 200%;
}
